@page
@model IndexModel
@{
    ViewData["Title"] = "Pull Request Generator";
}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <button class="btn btn-primary">Authorize</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <label for="repoDropdown">Select Repository:</label>
            <select class="form-control" id="repoDropdown">
                <option value="repo1">Repository 1</option>
                <option value="repo2">Repository 2</option>
                <option value="repo3">Repository 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <label for="branchDropdown">Select Branch:</label>
            <select class="form-control" id="branchDropdown">
                <option value="branch1">Branch 1</option>
                <option value="branch2">Branch 2</option>
                <option value="branch3">Branch 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <label for="prTypeDropdown">Select PR Type:</label>
            <select class="form-control" id="prTypeDropdown">
                <option value="feature">Feature</option>
                <option value="bugfix">Bugfix</option>
                <option value="hotfix">Hotfix</option>
            </select>
        </div>
    </div>
</div>
